* {
  margin: 0;
  padding: 0;
}

.content-Homepage p {
  width: 100%;
  text-align: center;
}
.content-Homepage :first-child {
  font-size: 45px;
  letter-spacing: 30px;
  font-weight: bold;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 4%;
}
.content-Homepage :nth-child(2) {
  margin-top: 25px;
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: rgba(60, 55, 55, 0.8);
}

.imgHomePage img {
  width: 100%;
}

@media all and (max-width: 390px) {
}
