.block {
  display: flex;
  flex-direction: column;
  border: solid rgb(84, 84, 224) 0.5px;
  text-align: center;
  margin-top: 5px;
  width: 50%;
  align-items: center;
  margin-left: 330px;
  margin-bottom: 50px;
  background-color: rgb(230, 214, 184);
}
.container {
  background-color: rgb(228, 217, 194);
}
#h3-standart {
  color: rgb(26, 25, 23);
  background-image: url(https://kartinkin.net/uploads/posts/2021-04/thumbs/1617296665_9-p-fon-dlya-prezentatsii-estetika-9.jpg);
  background-color: wheat;
}
#p-standart {
  color: rgb(21, 20, 18);
  background-image: url(https://kartinkin.net/uploads/posts/2021-04/thumbs/1617296665_9-p-fon-dlya-prezentatsii-estetika-9.jpg);
  background-color: wheat;
}
h3 {
  justify-content: center;
  margin-top: 10px;
}
p {
  margin-top: 10px;
}
button {
  display: none;
}

#otziv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
